.button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48px;
  height: 24px;
  border: 1px solid #53c28b70;
  border-radius: 9999px;
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
}
.icon {
  font-size: 12px;
  line-height: 1;
}
.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #53c28b;
  border-radius: 50%;
}
