.subTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 16px;
}
.skillList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.skillItem {
  font-family: var(--font-notojp);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
