.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1366px;
  margin: auto;
  padding: 0 60px;
  z-index: 100;
}
.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logoText {
  font-size: 40px;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigationList {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigationItemLink {
  position: relative;
}
