* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.theme {
  transition: 0.3s;
}
.light {
  background-color: #fff;
  color: #111;
}
.dark {
  background-color: #111;
  color: #bbb;
}
.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: auto;
  padding: 80px 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
