.stack h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0 20px;
}
.stack h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 40px 0 16px;
}
.stack h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0 8px;
}
.stack p {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  margin: 40px 0 16px;
}
.stack figure {
  margin: 40px 0 16px;
}
.stack img {
  max-width: 100%;
  height: auto;
}
.stack ul {
  padding: 0;
  margin: 40px 0 16px;
}
.stack ul li {
  font-family: var(--font-notojp);
  list-style: revert;
  list-style-position: inside;
}
.stack ol {
  padding: 0;
  margin: 40px 0 16px;
}
.stack ol li {
  font-family: var(--font-notojp);
  list-style: decimal;
  list-style-position: inside;
}
.stack pre {
  margin: 40px 0 16px;
}
.stack > *:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .stack h1 {
    font-size: 26px;
    margin: 24px 0 16px;
  }
  .stack h2 {
    font-size: 22px;
    margin-top: 24px;
  }
  .stack h3 {
    font-size: 18px;
    margin-top: 24px;
  }
  .stack p {
    margin-top: 24px;
  }
  .stack figure {
    margin-top: 24px;
  }
  .stack ul {
    margin-top: 24px;
  }
  .stack ol {
    margin-top: 24px;
  }
  .stack pre {
    margin-top: 24px;
  }
}
